* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
}

li{
    list-style: none;
}

li:hover{
    border-right: 3px solid black;
}

a{
    text-decoration: none;
}

.left-container{
    width: 13%;
    float: left;
    border-right: 1px solid #C0C0C0;
    height: 1000px;
    font-family: 'Roboto';
    position: fixed;
}

nav{
    margin-top: 50%;
}

nav li{
    width: 100%;
    border-bottom: 1px solid #C0C0C0;
    text-decoration: none;
    padding : 5%;
    padding-left: 15%;
}

nav a{
    margin-left: 12%;
    color: black;
    font-size: 90%;
}

.right-container{
    padding: 2%;
    width: 87%;
    float: right;
}

.asset-table{
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    width: 100%;
}

.asset-table td{
    border: 1px solid #C0C0C0;
    width: 50px;
    text-align: center;
    font-size: 95%;
}

.asset-table-details{
    color: #666666;
    font-weight: bold;
}

.asset-table-title{
    height: 30px;
    color: #9d662f;
    font-family: 'Roboto';
    font-weight: bold;
}

.right-container{
    padding: 5%;
}

tr {
    height: 70px;
}

.asset-table a{
    text-decoration: none;
    font-weight: 200;
}

.right-container h1{
    font-family: 'Roboto';
    color: #aa6868;
    border-bottom: 2px solid #aa6868;
    margin-left: 5px;
}

.asset-action a{
    border-left: 3px solid #0086b3;
    padding: 3%;
    font-size: 18px;
    padding-left: 2px;
    color:  #404040;
}

.status{
    font-weight: 100;
}

header{
    width: 100%;
    background-color: #273135;
    height: 60px;
}

.asset-action a:hover{
    background-color: #C0C0C0;
}

.parent{
    text-align: center;
    margin-top: 15%;
    font-family: 'Roboto';
}

.parent input[type="text"]{
    margin-bottom: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.parent button{
    border-radius: 10px;
    border: 0px;
    color: #fff;
    margin-left: 14%;
    padding: 10px 20px;
    background-color: #1aa3ff;
}

.parent button:hover{
    background-color: #008ae6;
}