* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
}

li{
    list-style: none;
}

li:hover{
    border-right: 3px solid #ad4747;
}

a{
    text-decoration: none;
}

a i{
    color: #ad4747;
}

.left-container{
    width: 13%;
    float: left;
    border-right: 1px solid #C0C0C0;
    height: 1000px;
    font-family: 'Roboto';
}

nav li{
    width: 100%;
    border-bottom: 1px solid #C0C0C0;
    text-decoration: none;
    padding : 5%;
    padding-left: 15%;
}

nav a{
    margin-left: 12%;
    color: black;
    font-size: 90%;
}

.right-container{
    padding: 0 2%;
    width: 87%;
    float: right;
}

.right-container h1{
    font-family: 'Roboto';
    color:  #686868;
    border-bottom: 2px solid #aa6868;
    padding-left: 10px;
    width: 70%;
}

.right-container h3{
    margin-left: 20px;
    color: #aa6868;
}

header{
    width: 100%;
    background-color: #273135;
    height: 60px;
}

.sign-up-form{
    font-family: 'Roboto';
    margin-left: 30px;
    text-align: left;
}

.sign-up-form div{
    margin-bottom: 1%;
}


.sign-up-form input[type=text], input[type="date"]{
    width: 200px;
    height: 30px;
    opacity: .5;
}

.sign-up-form input[type=text]:hover, input[type="date"]:hover{
    opacity: 1;
}

.description input[type="text"]{
    margin-left: 1.7%;
    width: 50%;
    height: 30px;
}

.purchase-date input[type="date"]{
    margin-left: .5%;
}

.serial-number{
    margin-left: 3.6%;
}

.brand{
    margin-left: 5.4%;
}

.model{
    margin-left: 5.1%;
}
.asset-tag-id{
    margin-left: 1%;
}

.cost{
    margin-left: 6%;
}

.submit-button{
    float: left;
    margin-left: 60%;
    background-color: #0088cc;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
}

.submit-button:hover{
    color:black;
}

.asset-checkout {
    width: 50%;
    margin-left: 20%;
}

.asset-checkout tr{
    height: 30px;
}

.option-button{
    margin-left: 55%;
}

.option-button button{
    border-radius: 13px;
    padding: 7px;
    background-color: #1a8cff;
    color: white;
}

.option-button button{
    .box-sizing(content-box);
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid #2196F3;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #FFFFFF;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: #2196F3;
    .transition(background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0));
}


.option-button button:hover {
    background-color: #0b7dda;
}

.option-button select{
    padding: 5px;
    .box-sizing(content-box);
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid #2196F3;;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #2196F3;;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    .transition(background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0));
}

.option-button select option{
    backgroun-color: #000000;
}

.employees{
    border-collapse: collapse;
    margin-left: 20px;
}

.employees td{
    padding: 1%;
    border: 1px solid #a6a6a6;
    width: 300px;
    font-family: 'Roboto';
}

.employee-add a{
    margin-left: 60%;
    position: relative;
    bottom: 60px;
    color: #fff;
    border: 0px;
    padding: 5px 20px;
    border-radius: 25px;
    width: 30px;
    background-color: #aa6868;
}

.employee-add a:hover{
    background-color: #aa6868;
    color: #fff;
}

.employee-heading td{
    background-color: #aa6868;
    color: white;
}

.employee-sign-up{
    font-family: 'Roboto';
    margin-left: 2%;
    width: 50%;
    height: 30px;
}

.employee-sign-up input[type="text"]{
    width: 200px;
    height: 30px;
    opacity: .5;
    margin-bottom: 1%;
    margin-left: 2%;
}

.last-name input[type="text"], .first-name input[type="text"]{
    margin-left: 3%;
}

input[type="text"]:hover{
    border-color: black;
}

.employee-sign-up button{
    border-radius: 20px;
    border: 0px;
    padding: 10px 15px;
    background-color: #aa6868;
    position: relative;
    margin-left: 37%;
    margin-top: 20px;
}