* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 1%;
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.left-container{
    width: 10%;
    height: 100px;
    float: left;
    overflow: hidden;
    padding: 20px 20px;
    border-right: 1px solid #C0C0C0;
    height: 1000px;
}

.right-container{
    padding: 2%;
    width: 90%;
    height: 100px;
    float: right;
}

.asset-table{
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    width: 70%;
}

.asset-table td{
    border: 1px solid #C0C0C0;
    width: 50px;
    text-align: center;
}

.asset-table-title{
    height: 30px;
    color: #9d662f;
}

tr {
    height: 70px;
}